# Module files
*.mod

# Libraries
*.a

# Object files
*.o

# Intel vectorization reports
*.optrpt


timing.*

examples/rfmip-clear-sky/output/
examples/rfmip-clear-sky/old/
examples/rfmip-clear-sky/timings/
examples/rfmip-clear-sky/rrtmgp_rfmip_lw
examples/rfmip-clear-sky/rrtmgp_rfmip_sw

gprof*
*.out

# Don't commit specific Makefile variants
Makefile.libs
Makefile.conf

# Intel code coverage
*.dyn
*.dpi
*.spi
*.spl
*.HTML
*.html
*.gif
